*{
    font-family: "Margarine", sans-serif;
}
.contacto{
    background:#FFF2E8;
    padding:60px 5%;
}

.contacto h2{
    text-align:center;
    color:#8B4513;
    margin-bottom:50px;
    font-size:40px;
    background:#FFF2E8;
}

.contenedor-contacto{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:40px;
    background:#FFF2E8;
}

.info{
    width:100%;
    max-width: 350px;
    background:#FFBE96;
    padding:30px;
    border-radius:15px;
}

.info h3,
.info p{
    background:#FFBE96;
    margin-bottom:15px;
}

.formulario{
    width:100%;
    max-width:450px;
    background:#FFBE96;
    padding:30px;
    border-radius:15px;
}

.formulario form{
    display:flex;
    flex-direction:column;
    gap:15px;
    background:#FFBE96;
}

.formulario input,
.formulario textarea{
    padding:12px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

.formulario textarea{
    height:120px;
    resize:none;
}

.formulario button{
    background:#8B4513;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

.formulario button:hover{
    background:#6d3210;
}


.redes{
    margin-top:51px;
    text-align:center;
    background:#FFF2E8;
}

.redes a{
    display:inline-block;
    margin:10px;
    text-decoration:none;
    color:#8B4513;
    background:#FFF2E8;
    font-size:20px;
    font-weight:bold;
}

.redes a:hover{
    color:#ff6600;
}

.copy{
    text-align:center;
    margin-top:20px;
    color:#555;
    background:#FFF2E8;
}
